
/* Container principal da página de confirmação */
.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ajusta a altura mínima para cobrir a tela */
  padding: 1rem; /* Espaçamento em dispositivos menores */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  margin-top: 5rem;
}
.confirmation-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.confirmation-text {
  font-size: 18px;
  margin: 5px 0;
}

.confirmation-highlight {
  font-weight: bold;
  color: #007bff;
}

.confirmation-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.confirmation-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.confirmation-list li {
  font-size: 16px;
  margin-bottom: 10px;
}

.confirmation-sublist {
  list-style-type: disc;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .confirmation-container {
    width: 90%;
    padding: 15px;
  }

  .confirmation-title {
    font-size: 22px;
  }

  .confirmation-text {
    font-size: 16px;
  }

  .confirmation-subtitle {
    font-size: 18px;
  }
}

.download-pdf-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.download-pdf-button:hover {
  background-color: #45a049;
}